html, body {
  height: auto;
  width: auto;
  background-color: #75af50;
  color: purple;
}
header{
  border: 2px solid black;
  border-radius: 5px;
  background-color: green;
}
main{
  border: 2px solid black;
  border-radius: 5px;
  background-color: green;
}
footer{
  border: 2px solid black;
  border-radius: 5px;
  background-color: green;
}
h1{
  text-align: center;
}
hr{
  background-color: gold;
}

.listy{
  display: flex;
  justify-content: flex-start;

}
.tło{
  background-image: url("https://lunares.pl/p/72897/fototapeta-krakow-stare-miasto-rynek-kosciol-mariacki-i-sukiennice-2.jpg");
  width: 1290.7px;
  
}
table, tr, td, th{
  border: 2px solid black ;
  padding: 2px;
  
}
ul{
  margin-left:  55px;
  padding: 10px;
}
.listy > div, a{
  margin-left:  50px;
}
.buttons{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  
}
button{
  width: 210px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px 10px 5px 10px;
  background-color: purple;
}
.buttons button:hover{
  background-color: #40E0D0;
  height: 42px;
  width: 212px;
}